* {
  box-sizing: border-box;
}

html,
body {
	background-image!important:none;
	background:#fff;
	color:#202020;
}
.container {
	width:100%;
	text-align:center;
	-webkit-transition: all 0.3s ease;
       -moz-transition: all 0.3s ease;
            transition: all 0.3s ease;
}
.contents {
	margin:0 auto;
	width:64vw;
	text-align:default;
	padding-bottom:32vh;
	-webkit-transition: all 0.3s ease;
       -moz-transition: all 0.3s ease;
            transition: all 0.3s ease;

}
.contents img {
	text-align:center;
	margin:0 auto;
	height:40vh;
	width:auto;
	margin-top:5vh;
	margin-bottom:5vh;
}
p {
	line-height:1.5em;
	text-align:left;
}
h2 {
  font-size:1.6em;
	font-weight:600;
	text-align:center;
	letter-spacing:2px;
	color:#000;
}
@media (max-width: 640px) {

  h2 {
    font-size:14px;
  }
}
