<footer class="animated fadeIn09" id="footer">
  <div class="helper">
    <ul>
      <li>&copy; {{ site.copyright }} <i class="chinese">{{ site.copyright_chinese }}</i></li>

      <li>{{ site.email }}</li>
      <li style="padding-top:1px;"><a href="https://twitter.com/{{ site.twitter_username }}" target="_blank"><img height="13wpx" src=
      "/img/twitter.svg" border="0"></a></li>
      <li style="padding-top:1px;"><a href="https://www.facebook.com/{{ site.facebook_username }}" target="_blank"><img height="13px" src=
      "/img/facebook.svg" border="0"></a></li>
      <li style="padding-top:4px;">
        <a class="scrollToTop hide" href="#"><img src=
        "/img/up.svg" border="0"></a>
        <a class="scrollToBottom show" href="#"><img src=
        "/img/down.svg" border="0"></a>
      </li>
    </ul>
  </div>
</footer>
