<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right">
  <span>
    <a href="/bio/">Bio</a> <a href="/work/">Work</a> <!--<a href="#">Other work</a>-->
    <a href="/news/">News</a> <a href="/contact/">Contact</a>
  </span>
</nav>
<nav class="animated fadeIn" id="main">
  <ul>
    <li><a href="/">Yan Ting Yuen <i class="chinese">{% if page.url == '/' or page.url == '/bio/' %}{% else %}袁欣婷{% endif %}</i></a></li>
    <li>
      <ul class="mcdo">
        <li>
          <a class="toggle-menu menu-right push-body"><i class="icono-hamburger"></i></a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
