<section class="container animated fadeIn">
    <div class="grid empty">
      <!-- remove:"img/"}} -->
      {% for work in site.work %}
       {% if work.homepage > 0 %}
        <a class="grid-item work draggable" id="" href="{{work.url}}" style=
        "background:white;width:{{page.work-size}}%;height:{{page.work-size}}%;top:{{page.work-top}}%;left:{{page.work-left}}%;"><img height="auto"
        src="{{work.upload-image}}" width="100%">
        <div class="sub">
            <span>{{work.title}}</span>
        </div></a>
        {% endif %}
        {% endfor %}

        {% for news in site.news %}
         {% if news.homepage > 0 %}
        <a class="grid-item blog draggable" id="" href="{{news.url}}" style=
        "background:white;width:{{page.blog-size}}%;height:{{page.news-size}}%;top:{{page.blog-top}}%;left:{{page.blog-left}}%;"><img height="auto"
        src="{{news.upload-image}}" width="100%">
        <div class="sub">
            <span>{{news.title}}</span>
        </div></a>
        {% endif %}
        {% endfor %}

        <a class="grid-item bio draggable" id="" href="/bio/" style=
        "background:white;width:{{page.bio-size}}%;height:{{page.bio-size}}%;top:{{page.bio-top}}%;left:{{page.bio-left}}%;"><img height="auto"
        src="{{page.bio-image}}" width="100%">
        <div class="sub">
            <span>About Yan Ting</span>
        </div></a>

        <a class="grid-item work_second draggable" id="" href="/contact/" style=
        "background:white;width:{{page.contact-size}}%;height:{{page.contact-size}}%;top:{{page.contact-top}}%;left:{{page.contact-left}}%;"><img height="auto"
        src="{{page.contact-image}}" width="100%">
        <div class="sub">
            <span>Contact</span>
        </div></a>

    </div>
</section>
