<script src="/js/custom.js">
</script>
<script src="/js/top.js">
</script>
<script src="/js/push.js">
</script>
<script>
jQuery(document).ready(function($) {
$('.toggle-menu').jPushMenu();
});
</script>
<script>
$( function() {
  $( ".draggable" ).draggable();
} );
</script>
<script>
    var d = 0;
    $('.grid > .grid-item').each(function() {
        $(this).delay(d).fadeIn(400);
        d += 320;
    });
</script>
<!--  <script>
$('.menu-right').click(function(e){
  e.preventDefault();
$("i",this).toggleClass(
  "icono-hamburger icono-cross");
});
$('.cbp-spmenu').click(function(e){
  e.preventDefault();
$("i",'.toggle-menu').toggleClass("icono-hamburger icono-cross");
});
</script>-->
